body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 18px;    
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #666;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    float: left;
    }

li, a {
    display: flex;
    align-items: center;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    justify-content: space-between;
}

#nav {
    list-style: none;
    padding: auto;
    margin: auto;
    display: flex;
    max-width: 750px;
}

.horizontal-bar {
    display: flex;
    margin: auto;
    width: 75%;
}

.essay-style-content{
    margin: auto;
    width: 75%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

#nav li a:hover {
    color: black;
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    body {
      background: rgb(3, 7, 29);
      color: rgb(255, 255, 255);
    }
    
    li, a {
        color: white
    }

    h2 {
        color: #bebebe;
    }

    #nav li a:hover {
        color: rgb(255, 255, 255);
    }

    body :not(img) {
        /* filter: invert(100%); */
    }
  }