<!-- General timeline structure courtesy of Alan Houser https://codepen.io/alanhouser/pen/aErrQJ -->
<div id="timeline-content">
  <ul class="timeline">
    <li class="event" data-date="May 2023 - Present">
      <h3><a href="https://www.pnnl.gov/">Pacific Northwest National Laboratory</a></h3>
    </li>
    <li class="event" data-date="Sep 2022 - May 2023">
      <h3>MaTRIX Labs</h3>
    </li>
    <li class="event" data-date="Apr 2023">
      <h3>Graduated from BYU</h3>
    </li>
    <li class="event" data-date="Apr 2022 - Jan 2023">
      <h3><a href="https://dragn.ai/">DRAGN Labs</a></h3>
    </li>
    <li class="event" data-date="Jun 2021 - Apr 2022">
      <h3><a href="https://www.qualtrics.com/">Qualtrics</a></h3>
    </li>
    <li class="event" data-date="Dec 2020 - Apr 2022">
      <h3>Research Assistant @ BYU Math</h3>
    </li>
    <!--
      <li class="event" data-date="65Million B.C.">
        <h3>Dinosaurs Roamed the Earth</h3>
        <p>RAWWWWWWRRR 🐢🦂</p>
      </li>
    -->
  </ul>
</div>
